<div class="row mt-10">
  <button type="button" (click)="openAddDialog()" class="btn btn-primary">New Product</button>
</div>

<div class="row mt-30">
  <mat-form-field appearance="fill">
    <mat-label>Filter by Product Name</mat-label>
    <input name="name" [(ngModel)]="filter.name" (ngModelChange)="filterProducts()" placeholder="Filter by Product Name" matInput>
  </mat-form-field>
</div>
<div class="mt-10">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Status</th>
        <th scope="col">Created On</th>
        <th scope="col">Audit Log</th>
        <th scope="col">****</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of productData.data">
        <td>{{prod.name}}</td>
        <td>{{prod.price | number : '1.2-2' }}</td>
        <td>{{prod.recordStatus}}</td>
        <td>{{prod.createdAt | date: 'MMM d, y, h:mm:ss a'}}</td>
        <td><a class="btn btn-primary cursor-pointer" (click)="openAuditDialog(prod.id)" >View_Logs</a> </td>
        <td><a class="text-success cursor-pointer" (click)="openEditDialog(prod.id)" >Edit</a> | <a class="text-danger cursor-pointer" (click)="openDeleteDialog(prod.id)" >Delete</a></td>
      </tr>

    </tbody>
  </table>
</div>
